* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;

}

body {
    background-color: hsl(216, 12%, 8%);
    display: grid;
    place-items: center;
    height: 514px;
    width: 100%;




}


#Big {
    border-radius: 15px;
    width: 320px;
    height: 350px;
    background-color: hsl(213, 19%, 18%);
    text-align: justify;
    padding: 25px 35px 25px 35px;
    font-weight: 400;
    word-spacing: 6px;
    display: block;

}

#Big .star {
    background-color: hsl(217, 12%, 63%);
    padding: 10px;
    border-radius: 50%;


}

#Big h2 {
    color: hsl(0, 0%, 100%);
    margin-top: 15px;

}

#Big p {
    line-height: 20px;

    color: hsl(217, 12%, 63%);
    font: optional;
    font-size: 15px;
    margin-top: 15px;
}




.Numbers-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 40px;
}

/* controle the buttons  */
.spans {
    color: hsl(216, 12%, 54%);
    border-radius: 50%;
    width: 30px;
    block-size: fit-content;
    padding: 6px;
    background-color: hsl(217, 12%, 63%);
    text-align: center;
}

.spans:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;

}

#submit {
    margin-top: 20px;
    width: 100%;
    color: hsl(25, 97%, 53%);
    background-color: white;
    border-radius: 20px;
    border: 0px;
    padding: 10px 0 10px 0;
    cursor: pointer;
} 

/* SECOND SIDE "thank you" */
#Bigger{
    display: none;
}
.div2 {
    border-radius: 15px;
    width: 360px;
    height: 350px;
    background-color: hsl(213, 19%, 18%);
    padding: 25px 35px 25px 35px;
    color: black;
   display: grid;
   place-items: center;
    

}

.img {
    display: block;
    
}

h2 {
    color: white;
    font-weight: 700;
}

#Big-container-thnks .select {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding: 3px 15px;
    border-radius: 15px;
}

.p2 {
    color: hsl(216, 12%, 54%);
    word-spacing: -1.5px;
    text-indent: -0.99em;
    text-align: center;
    line-height: 25px;
}

.p2 .xx {
    position: relative;
    left: -8px;
}
